@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/*End of utilities*/
.container{
    /* background-color: #34ADFF; */
    background-image: -webkit-linear-gradient(150deg, #F6B400 44%, #ffffff 35%);
    min-height: 1020px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: none;
    color: #000;
}

.nav-links a{
    color: #000;
}

.logo{
    font-size: 32px;
    font-style: italic;
    /* margin-bottom: 20px; */
}

.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
    margin-right: 100px;
}
.menu li{
    padding: 5px 14px;
}
#logo-name{
    color: #F6B400;
}

#cart{
    margin-left: 50px;
}
.header-logo{
    display:inline-block;
    vertical-align:middle;

}

.landing-page{
    margin-top: 10%;
    margin-left: 5%;
}
.landing-page h2{
    font-size: 50px;
}

.landing-page p{
    padding: 50px 20px 120px 0;
    color: rgb(97, 90, 90);
}
.landing-page button{
    margin-left: 70px;
    
}


.imh{
    float: right;
    height: 58em;
    margin-right: 12%;
    margin-top: -35%;
    
    
}
.landing-page button{
    background-color: #F6B400;
    border-radius: 15px 15px 0 15px;
    border: none;
    width: 120px;
    height: 48px;
}
.MobileApps{
    background-color: #F6B400;
    
    
}






.mob2{
    margin-left: 80%;
    margin-bottom: 180%;
    
    

}
.mob1{
    margin-left: 50%;
    margin-top: 10%;

    
}
.Decker{
    margin-top: 150%;
    margin-left: 5%;
}
.dropdown{
    margin-left: 50%;
    font-style: normals;
    
    
}
.Discover{
    display:inline-flex;

}
.footer-logo{
    margin-left: 5%;
}


.box1{
    border-color: #574104;
    box-sizing: content-box;
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: left;
    flex-direction: initial;
    

    

}

.box2{
    border-color:#574104;
    box-sizing: content-box;
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: right;
}

.box3{
    border-color: #574104;
    box-sizing: content-box;
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: left;
    
}

.box4{
    border-color: #574104;
    box-sizing: content-box;
    border-radius: 50px;
    border-style: inset;
    text-align: center;
    float: right;
}
.box5{
    border-color: #574104;
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: left;
}
.box6{
    border-color: #574104;
    
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: right;
}
.MobileApps {
    height: 120vh;
}
.Newsletter {
    float: right;
    display: flex;
}

/* Form */
.Newsletter{ 
    align-items: center;
    justify-content: flex-end;
    float: right;
}
.Newsletter button{
    position: absolute;
    border: none;
    line-height: 32px;
    background: #F6B400;

}
input:focus{
    border-right: none;
}

.Newsletter input{
    max-width: 400px;
    line-height: 30px;
    border-radius: 5px;
    border-right: none;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
form{
    margin-top: 50px;
}

i {
    background-size: calc(50px);
    float:var(light rgb(130, 209, 233))
}

.container-2{
    margin: 0;
    padding-bottom: 70px;
    background: #f2f2f2;
}

.column-three{
    width: 33.33%;
    float: left;
}


.column-three-quater{
    width: 33.33%;
    display: flex;
    justify-content: space-around;
    float: left;
}


.invisible-cards{
    background-color: white;
    max-width: 70%;
    border: 1px solid rgb(109, 51, 121);
    padding: 70px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20%;
}

.invisible-cards-1{
    width: 70%;
    background-color: white;
    border: 1px solid rgb(109, 51, 121);
    padding: 70px;
    border-radius: 25px;
    text-align: center;
    margin-top: 18%;
}


.invisible-cards-2{
    background-color: white;
    width: 70%;
    border: 1px solid rgb(109, 51, 121);
    padding: 70px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20%;
}

.invisible-cards h2{
    color: #473a13;
}

.invisible-cards-1 h2{
    color: #473a13;
}

.invisible-cards-2 h2{
    color: #473a13;
}

.card-image{
    margin-bottom: 20px;
}

.card-image h1{
    font-size: 70px;
    color: #F6B400;
}




.container-3{
    margin:0;
    height: auto;
    padding-bottom: 70px;

}

.header-1{
    text-align: center;
    margin-top: 120px;
}

.menu-1{
    color: orange;
}

.underline{
    width: 70px;
    display: inline-block;
    border-top: 4px solid violet;
}

.item-card{
    display: flex;
    flex-direction: column;
    max-height: auto;
    overflow: hidden;
    margin-left: 20px;
    background-color: wheat;
    max-width: 33.33%;
    justify-content: center;

}

.menu-container{
    width: 70%;
    margin-top: 30px;
    justify-content: space-around;
}


.menu-card{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
    max-width: 320px;
    text-align: center;
    padding: 4px;
    border-radius: 20px;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
}

.menu-card img{
    max-width: 55%;

}

.menu-content{
    padding: 30px
}

.info{
    margin-bottom: 20px;
    margin-top: 20px;
}

.info h3{
    display: inline-block;
    margin-left: 5px;
}
.info button{
    display: inline-block;
    margin-left: 180px;
    font-size: 30px;
    color: gray;
    background: honeydew;
    border-radius: 5px;
    padding: 2px;
    border: none;
    background-color: #E1EBE6;

}

.info-b{
    margin-bottom: 20px;
    margin-top: 20px;
}

.info-b h3{
    display: inline-block;
    margin-right: 60px;
}

.info-b p{
    display: inline-block;
    background: #f2f2f2;
    padding: 3px;
    border-radius: 5px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 15px;
}
.info-b span{
    display: inline-block;
    margin: 1px;
    padding: 5px;
    border-radius: 5px;
}
.info-b span:hover{
    background: seagreen;
    color: azure;
    cursor: progress;
}



  /* designing the ribbon */

.ribbon{
    width: 160px;
    top: 0;
    right: -20px;
    position: absolute;
}

.ribbon span{
    width: 225px;
    background: orange;
    display: block;
    position: absolute;
    top: 30px;
    left: -15px;
    transform: rotate(45deg);
    text-align: center;
    color: whitesmoke;
}

.menu-card-1{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
    max-width: 320px;
    text-align: center;
    padding: 4px;
    border-radius: 20px;
    margin-left: 20px;
    overflow: hidden;
}

.menu-card-1 img{
    max-width: 100%;
    height: 150px;
    }

/* Page 4 styling*/
.container-6{
    padding: 15px 10px;
    background-color: #f2f2f2;
    margin: 0;
    padding-bottom: 100px;
}

.pg4-content{
    margin-top: 30%;
    margin-left: 50px;
}


.pg4-content p{
    margin-top: 35px;
    margin-left: 3px;
    font-size: 15px;
    opacity: 0.5;
    font-weight: 200;
    font-family: monospace;
}
.big-deker{
    margin-top: 15px;
    color: orange;
}
.arrow{
    margin-top: 100px;
    margin-left: 20px;
}
.arrow .dot{
    display: inline-block;
    width: 10px;
    background-color: orangered;
    border-radius: 1px solid black;
    height: 10px;
    border-radius: 20px;
    margin-left: 10px;
}

.arrow .dot-1{
    display: inline-block;
    width: 10px;
    background-color: orangered;
    border-radius: 1px solid black;
    height: 10px;
    border-radius: 20px;
    margin-left: 10px; 
}

/* Stacked images styling*/

.stacked-container{
    padding: 10px 5px;
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
}

.image-stack-1{
    max-height: 400px;
    margin-right: 30px;
    z-index: 0;
}
.image-stack-1 img{
    max-width: 60%;
    padding-top: 60px;
}
.image-stack-2{
    z-index: 2;
    top: 10px;
    position: absolute;
    margin-top: 130px;
    margin-right: 100px;

}

.image-stack-2 img{
    max-width: 60%;
}

.container-6{
    padding: 15px 10px;
    background-color: #f2f2f2;
    margin: 0;
    padding-bottom: 100px;
}

.pg4-content{
    margin-top: 30%;
    margin-left: 50px;
}


.pg4-content p{
    margin-top: 35px;
    margin-left: 3px;
    font-size: 15px;
    opacity: 0.5;
    font-weight: 200;
    font-family: monospace;
}
.big-deker{
    margin-top: 15px;
    color: orange;
}
.arrow{
    margin-top: 100px;
    margin-left: 20px;
}
.arrow .dot{
    display: inline-block;
    width: 10px;
    background-color: orangered;
    border-radius: 1px solid black;
    height: 10px;
    border-radius: 20px;
    margin-left: 10px;
}

.arrow .dot-1{
    display: inline-block;
    width: 10px;
    background-color: orangered;
    border-radius: 1px solid black;
    height: 10px;
    border-radius: 20px;
    margin-left: 10px; 
}

/* Stacked images styling*/

.stacked-container{
    padding: 10px 5px;
    position: relative;
    margin-left: 100px;
    margin-top: 50px;
  }
  
  .image-stack-1{
    max-height: 400px;
    margin-right: 30px;
    z-index: 0;
}
.image-stack-1 img{
    max-width: 60%;
    padding-top: 60px;
}
    .image-stack-2{
    z-index: 2;
    top: 10px;
    position: absolute;
    margin-top: 130px;
    margin-right: 100px;

}

.image-stack-2 img{
    max-width: 60%;
}
  /* page 5 */

.container-7{
    background-color: #F6B400;
    padding: 40px;
}


.content-container{
    margin-top: 120px;
    padding: 20px;
    margin-left: 60px;
}

.content-container p{
    font-size: 35px;
    margin-bottom: 100px;
}


.downloads .google-logo{
    height: 100px;
}

.downloads .apple-logo{
    height: 100px;
}

/* Desiging the images */


.phone-container{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

.phone-2{
    border-radius: 20px;
}

.phone-1{
    border-radius: 20px;
}

.copyrights{
    justify-content: center;
    margin-top: 20px;
}

.handles{
    margin-top: 20px;
    text-align: center;
}
.handles span{
    display: inline-block;
    margin-left: 3px;
}
.handles span:hover{
    color: rgb(113, 113, 224);
}
.designer{
    margin-top: 20px;
}

form{
    padding-top:20px;
}


.container-7{
    background-color: #F6B400;
    padding: 40px;
}


.content-container{
    margin-top: 120px;
    padding: 20px;
    margin-left: 60px;
}

.content-container p{
    font-size: 35px;
    margin-bottom: 100px;
}


.downloads .google-logo{
    height: 100px;
}

.downloads .apple-logo{
height: 100px;
}











    
    
    










    

