@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/*End of utilities*/
.container{
    /* background-color: #34ADFF; */
    background-image: -webkit-linear-gradient(150deg, #F6B400 44%, #ffffff 35%);
    min-height: 1020px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: none;
    color: #000;
}

.nav-links a{
    color: #000;
}

.logo{
    font-size: 32px;
    font-style: italic;
    /* margin-bottom: 20px; */
}

.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
    margin-right: 100px;
}
.menu li{
    padding: 5px 14px;
}
#logo-name{
    color: #F6B400;
}

#cart{
    margin-left: 50px;
}
.header-logo{
    display:inline-block;
    vertical-align:middle;

}

.landing-page{
    margin-top: 10%;
    margin-left: 5%;
}
.landing-page h2{
    font-size: 50px;
}

.landing-page p{
    padding: 50px 20px 120px 0;
    color: rgb(97, 90, 90);
}
.landing-page button{
    margin-left: 70px;
    
}


.imh{
    float: right;
    height: 58em;
    margin-right: 12%;
    margin-top: -35%;
    
    
}
.landing-page button{
    background-color: #F6B400;
    border-radius: 15px 15px 0 15px;
    border: none;
    width: 120px;
    height: 48px;
}
.MobileApps{
    background-color: #F6B400;
    
    
}


.yummy{
    margin-left:50%;
    margin-top: 220px;
    height: 450px;
    width: 450px;
    position: relative;
    top: 80%;

    

}
.yummies{
    margin-left: 70%;
    margin-bottom: 50px;
    height: 450px; ;
    width: 450px;
    padding-bottom: 40px;
    display: inline;
    position: relative;
    top: 0%;
    left: 0%;

}

.mob2{
    margin-left: 80%;
    margin-bottom: 180%;
    
    

}
.mob1{
    margin-left: 50%;
    margin-top: 10%;

    
}
.Decker{
    margin-top: 150%;
    margin-left: 5%;
}
.dropdown{
    margin-left: 50%;
    font-style: normals;
    
    
}
.Discover{
    display:inline-flex;

}
.footer-logo{
    margin-left: 5%;
}


.box1{
    border-color: #574104;
    box-sizing: content-box;
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: left;
    flex-direction: initial;
    

    

}

.box2{
    border-color:#574104;
    box-sizing: content-box;
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: right;
}

.box3{
    border-color: #574104;
    box-sizing: content-box;
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: left;
    
}

.box4{
    border-color: #574104;
    box-sizing: content-box;
    border-radius: 50px;
    border-style: inset;
    text-align: center;
    float: right;
}
.box5{
    border-color: #574104;
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: left;
}
.box6{
    border-color: #574104;
    
    border-radius: 80px;
    border-style: inset;
    text-align: center;
    float: right;
}
.MobileApps {
    height: 120vh;
}
.Newsletter {
    float: right;
    display: flex;
}
i {
    background-size: calc(50px);
    float:var(light rgb(130, 209, 233))
}









    
    
    










    

